.redditInput{
    height: 30px;
    width:300px;
}

.mainredditCardDiv{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.redditDataCard{
    border-style: solid;
    font-size: 0.6vw;
}