.twitteraccountCard{
    display: flex;
    flex-direction: column;
    border-style: none;
    margin: 5px;
    font-size: 0.4vw;
    width: 20vw;
    background-color: white;
    color: black;
    align-items: center;
    padding:10px;
    border-radius: 10px;
    box-shadow: 1px 1px black;
}

.twitterAccountMain{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.twitterAccountInput{
    height: 30px;
    width: 300px;
}